:root {
  // -- Colors -- \\
  --primary-color: #75AFE6;
  --secondary-color: #21a179;
  --white-color: #ffff;
  --grey-color: #ebebeb;
  --light-grey-color: #f5f5f5;

  // -- Spacing -- \\
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 2rem;

  // -- Box shadow -- \\
  --box-shadow-sm: 4px 4px 20px -5px rgba(135, 132, 135, 1);
}